body {
  background-color: #80202B;
  color: #4a4a4a;
}

h1 {
  display: inline-flexbox;
  background-color: #80202B;
    color: #E6e27b;
    font-family: 'Krungthep', sans-serif;
    font-size: 7rem;
    margin: 3rem;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 60rem;
  width: 60rem;
  background-color: white;
  box-shadow: 0 5px 10px black;
  border: #E6e27b solid 1rem;
  border-radius: 5px;
  padding: 3rem;
}

#showCurrentDay {
  font-family: 'Krungthep', sans-serif;
  font-size: 1.5rem;
  margin: 3rem;
}

form {
  margin-top: 2rem;
  padding: .75rem;
  background-color: #80202B;
  color: #E6e27b;
  font-family: 'Krungthep', sans-serif;
  justify-items: center;
  box-shadow: 0 5px 10px black;
}

#submit {
  border-radius: .25rem;
  background-color: #E6e27b;
  color: #80202B;
}

select {
  -webkit-appearance: menulist-button;
  appearance: menulist-button;
  display: inline-block;
  font-family: 'Krungthep', sans-serif;
  color: #80202B;
  background: #E6e27b;
  border-radius: .25rem;
}


.top-flash {
  text-align: center;
}

.top-flash-card-body {
  padding: .5rem;
}

.card-title {
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-weight: 700;
}

.card-text {
  font-family: Georgia, 'Times New Roman', Times, serif;
}

#refresh {
  background-color: #E6e27b;
  border-radius: .25rem;
  color: #80202B;
}

h3 {
  font-size: 1rem;
}

footer {
  display: inline-flexbox;
  margin: 3rem;
  align-items: center;
  justify-content: center;
}
.tradingview-widget-container {
  box-shadow: 0 5px 10px black;
}

#weatherAPI {
  width: 50rem;
  display: inline-flexbox;
  margin: 3rem;
  align-items: center;
  justify-content: center;
  color: #80202B;
  background-color: #E6e27b;
  padding: 1rem;
  font-family: 'Krungthep', sans-serif;
  font-size: 2rem;
}

#searchBtn {
    background-color: #80202B;
}

.currentWeatherBlock {
    margin-top: 1rem;
}
#showCurrentIcon {
    background-color: none;
    width: 4rem;
}

.body {
    padding: 1rem;
}

 #weathBox {
  margin-left: 4rem;
  margin-top: 1rem;
}
@media only screen 
    and (device-width : 375px) 
    and (device-height : 812px) 
    and (-webkit-device-pixel-ratio : 3) {
      h1 {
        font-size: 3rem;
      }
      #showCurrentDay {
        font-size: .65rem;
      }
      #weathBox {
        margin-left: 0rem;
      }
      .container {
        max-width: 20rem;
        padding: 1rem;
      }
      .top-flash-card-body {
        padding: .25rem;
      }
    }