h1 {
  color: #E6E27A;
  text-align: center;
  background-color: #80202B;
  padding: 20px;
  font-family: 'Lexend', sans-serif;
  font-weight: 400;
}

.col-4.bg-light.border.border-dark {
  padding-left: 40px;
}

.col-8 {
  padding-right: 40px;
}

.top-flash {
  text-align: center;
}

.continue-button {
  padding-left: 40%;
}

h12 {
  font-size: 13px;
}
